#tabContent.elca-admin-benchmark-version.tab-lcc .form-section .label-holder .label-content { display: block; white-space: nowrap; }

#tabContent.elca-admin-benchmark-version.tab-lcc-groups .form-section.category { left: 170px; width: 180px; margin-top: 3px; }
#tabContent.elca-admin-benchmark-version.tab-lcc-groups .form-section.category .form-elt > .group-container .HtmlRadiobox { float: left; }

/** charts --------------*/
#content.lcc-reports text { font: 10px sans-serif; }

#content.lcc-reports div.chart.line-chart { padding-left: 0; }

#content.lcc-reports .line-chart .y.axis .tick text { fill: #000; }

#content.lcc-reports .pie-chart { float: left; }

#content.lcc-reports .pie-chart .arc path { stroke: #fff; }

#content.lcc-reports .line-chart .axis path, #content.lcc-reports .line-chart .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }

#content.lcc-reports .line-chart .line { fill: none; stroke: #000; stroke-width: 2px; }

#content.lcc-reports .line-chart .area { opacity: 0.3; stroke: none; }

#content.lcc-reports .line-chart .dots circle { opacity: 0.6; }

#content.lcc-reports .line-chart .cross line { opacity: 0.2; stroke: #000; stroke-width: 1px; shape-rendering: crispEdges; }

div.tooltip { position: absolute; text-align: center; width: auto; min-width: 50px; padding: 6px 20px; margin: 0 10px; font: 12px sans-serif; background: #eee; color: #000; border: 0px; border-radius: 8px; pointer-events: none; }

#elementForm.costs .column { width: 450px; }
#elementForm.costs .quantity, #elementForm.costs .lifeTime, #elementForm.costs .calculatedQuantity, #elementForm.costs .elementQuantity, #elementForm.costs .totalQuantity, #elementForm.costs .prodCostsPerUnit, #elementForm.costs .prodCostsTotal { float: left; padding-right: 20px; width: 125px; }
#elementForm.costs .totalQuantity, #elementForm.costs .lifeTime { padding-right: 0; }
#elementForm.costs .calculatedQuantity { padding-left: 145px; }
#elementForm.costs .own-quantity-note { font-style: italic; }

.element-section.element-costs .hl-row h5 { position: absolute; color: #888; font-style: italic; font-weight: normal; border: none; }
.element-section.element-costs .hl-row h5.hl-is-active { right: 330px; }
.element-section.element-costs .hl-row h5.hl-life-time { right: 265px; }
.element-section.element-costs .hl-row h5.hl-is-extant { right: 190px; }
.element-section.element-costs .hl-row h5.hl-costs { right: 45px; }
.element-section.element-costs .hl-row h5.hl-costs-total { right: 45px; }
.element-section.element-costs .hl-row h5.hl-element { left: 0; }
.element-section.element-costs .hl-row h5.hl-quantity { right: 522px; }
.element-section.element-costs .hl-row h5.hl-dinCode { right: 495px; }
.element-section.element-costs .hl-row h5.hl-layer-area { right: 522px; }
.element-section.element-costs#section-composite .hl-row h5.hl-quantity { right: 575px; }
.element-section.element-costs#section-composite .hl-row h5.hl-is-extant { right: 285px; cursor: help; }
.element-section.element-costs#section-composite .hl-row h5.hl-costs-calculated { right: 390px; }
.element-section.element-costs#section-composite .hl-row h5.hl-costs { right: 250px; }
.element-section.element-costs#section-composite .hl-row h5.hl-dinCode { right: 505px; }
.element-section.element-costs#section-composite .hl-row h5.hl-replacements { right: 100px; }
.element-section.element-costs .element-component { position: relative; }
.element-section.element-costs .element-component .costs, .element-section.element-costs .element-component .prodCosts, .element-section.element-costs .element-component .layer-area { position: absolute; padding: 0; top: 0; background-color: inherit; }
.element-section.element-costs .element-component .layer-position { left: 5px; width: 20px; }
.element-section.element-costs .element-component .process-config-selector { left: 30px; width: 400px; max-width: 32%; max-height: 20px; overflow: hidden; }
.element-section.element-costs .element-component .quantity { right: 523px; width: 80px; text-align: right; }
.element-section.element-costs .element-component .layer-area { right: 523px; width: 80px; text-align: right; }
.element-section.element-costs .element-component .costs { right: 40px; width: 100px; }
.element-section.element-costs .element-component .prodCosts { right: 50px; width: 100px; text-align: right; }
.element-section.element-costs .element-component .lifeTime { right: 255px; width: 30px; }
.element-section.element-costs .element-component .isExtant { right: 190px; width: 40px; text-align: center; }
.element-section.element-costs .element-component .calcLca { right: 340px; width: 40px; text-align: center; }
.element-section.element-costs.is-extant-building .element-component .lifeTime { right: 255px; }
.element-section.element-costs .element .costs, .element-section.element-costs .element .prodCosts, .element-section.element-costs .element .prodCosts-refUnit, .element-section.element-costs .element .costs-total, .element-section.element-costs .element .costs-refUnit, .element-section.element-costs .element .costs-refUnit2, .element-section.element-costs .element .replacements { position: absolute; padding: 0; top: 0; background-color: inherit; }
.element-section.element-costs .element .element-selector { left: 28px; width: 320px; max-height: 20px; overflow: hidden; }
.element-section.element-costs .element .quantity { right: 585px; width: 60px; text-align: right; }
.element-section.element-costs .element .surface { right: 655px; width: auto; text-align: right; padding-left: 10px; }
.element-section.element-costs .element .surface .HtmlStaticText { font-size: 12px; padding-right: 0; }
.element-section.element-costs .element .refUnit { right: 550px; width: 40px; text-align: left; }
.element-section.element-costs .element .dinCode { right: 510px; }
.element-section.element-costs .element .isExtant { right: 285px; width: 40px; text-align: center; }
.element-section.element-costs .element .prodCosts { right: 400px; width: 100px; text-align: right; }
.element-section.element-costs .element .prodCosts-refUnit { right: 350px; text-align: left; width: 50px; }
.element-section.element-costs .element .costs { right: 260px; width: 80px; text-align: right; }
.element-section.element-costs .element .costs-refUnit { right: 200px; text-align: left; width: 50px; }
.element-section.element-costs .element .costs-refUnit2 { right: 84px; text-align: left; width: 50px; }
.element-section.element-costs .element .replacements { right: 125px; width: 60px; }
.element-section.element-costs .element a.edit-link { right: 10px; }
.element-section.element-costs .element .prodCosts.shade, .element-section.element-costs .element .prodCosts-refUnit.shade { color: #aaa; text-decoration: line-through; }
.element-section.element-costs #element-composite-non-opaque .element .element-selector { left: 28px; width: 300px; max-height: 20px; overflow: hidden; }
.element-section.element-costs .costs-table.composite .scroll-wrapper table tbody tr td { height: 24px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper table tbody tr th.fixed.process_config_name { color: #000000; overflow: hidden; text-overflow: ellipsis; }
.element-section.element-costs .costs-table.composite .scroll-wrapper table tbody tr.lastRow td, .element-section.element-costs .costs-table.composite .scroll-wrapper table tbody tr.lastRow th { /**              border-top:2px solid #999; **/ }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll { margin-left: 360px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll table thead tr th.fixed.total { left: 251px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll table thead tr.legendRow th { top: 30px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll table thead tr.legendRow th.lastColumn { left: 360px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll table tbody tr th.fixed.total { left: 251px; }
.element-section.element-costs .costs-table.composite .scroll-wrapper.scroll table tbody tr th.fixed.process_config_name { color: #000000; }
.element-section.element-costs .costs-table { padding-bottom: 15px; }
.element-section.element-costs .costs-table tr.lastRow td, .element-section.element-costs .costs-table tr.lastRow th { border-top: 1px solid #999; color: #000; }
.element-section.element-costs .costs-table .scroll-wrapper { padding-left: 10px; }
.element-section.element-costs .costs-table .scroll-wrapper table { table-layout: fixed; width: auto; margin-left: 0; margin-right: 0; padding-top: 15px; }
.element-section.element-costs .costs-table .scroll-wrapper table th, .element-section.element-costs .costs-table .scroll-wrapper table td { text-align: center; white-space: nowrap; }
.element-section.element-costs .costs-table .scroll-wrapper table tr th.fixed { border-right: 1px solid #dddddd; }
.element-section.element-costs .costs-table .scroll-wrapper table tr th.fixed.years { width: 60px; text-align: left; }
.element-section.element-costs .costs-table .scroll-wrapper table tr th.fixed.process_config_name { width: 230px; text-align: left; }
.element-section.element-costs .costs-table .scroll-wrapper table tr th.fixed.total { width: 100px; }
.element-section.element-costs .costs-table .scroll-wrapper table thead tr th { color: #888; }
.element-section.element-costs .costs-table .scroll-wrapper table tbody tr th { border-bottom: 1px solid #dddddd; }
.element-section.element-costs .costs-table .scroll-wrapper table tbody tr th.fixed.total { width: 100px; color: #000000; }
.element-section.element-costs .costs-table .scroll-wrapper table tbody tr.lastRow th { border-bottom: none; border-top: 1px solid #999; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll { overflow: hidden; overflow-x: scroll; overflow-y: visible; margin-left: 190px; padding-bottom: 10px; padding-left: 0px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table { margin-top: 15px; padding-top: 28px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr.legendRow th { top: 30px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr.legendRow th.lastColumn { position: absolute; left: 189px; border-left: none; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr th.fixed { position: absolute; display: block; height: 24px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr th.fixed.years { left: 12px; width: 60px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr th.fixed.process_config_name { left: 12px; width: 230px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table thead tr th.fixed.total { left: 81px; width: 100px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table tbody tr td { width: 100px; text-align: center; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table tbody tr.lastRow th { border-bottom: 1px solid #dddddd; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table tbody th.fixed { position: absolute; left: 12px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table tbody th.fixed.years { left: 12px; }
.element-section.element-costs .costs-table .scroll-wrapper.scroll table tbody th.fixed.total { left: 81px; }
.element-section.element-costs .costs-table .no-data-available { padding-top: 40px; padding-left: 10px; }

.tab-lcc.elements .element .element-selector { left: 10px; }

#costs-table-total table { margin: 0; padding: 0; }
#costs-table-total table .legendRow th { top: 65px; }
#costs-table-total .scroll table { padding-top: 42px; }
#costs-table-total .no-data-available { padding-left: 0; font-size: 14px; }

#content.lcc-energy-costs .lccEnergyCostsForm { width: 600px; }
#content.lcc-energy-costs .hl-row { height: 22px; position: relative; }
#content.lcc-energy-costs .hl-row h5 { position: absolute; color: #888; font-style: italic; font-weight: normal; border: none; }
#content.lcc-energy-costs .hl-row h5.hl-name { left: 5px; }
#content.lcc-energy-costs .hl-row h5.hl-costs { left: 280px; }
#content.lcc-energy-costs .hl-row h5.hl-actions { right: 160px; }
#content.lcc-energy-costs .version-row { position: relative; height: 24px; }
#content.lcc-energy-costs li { background-color: #f9f9f9; border-bottom: 1px solid #e5e5e5; margin-bottom: 8px; padding: 3px 0; line-height: 33px; height: 33px; }
#content.lcc-energy-costs li.active { background-color: #f0f0f0; }
#content.lcc-energy-costs .version .name, #content.lcc-energy-costs .version .costs, #content.lcc-energy-costs .version a.delete-link, #content.lcc-energy-costs .version a.cancel-link { position: absolute; padding: 0; top: 0; }
#content.lcc-energy-costs .version .name { left: 5px; width: 250px; }
#content.lcc-energy-costs .version .costs { left: 280px; width: 80px; }
#content.lcc-energy-costs .version a.delete-link, #content.lcc-energy-costs .version a.cancel-link { width: 60px; text-align: left; right: 5px; }

#content.lcc { width: 950px; }

#content.lcc .lcc-section { position: relative; }

#content.lcc .lcc-section.collapsible div.legend { padding-left: 20px; background: transparent url("/img/elca/ic-arrow-open.png") 3px 25px no-repeat; cursor: pointer; }

#content.lcc .lcc-section.collapsible.close div.legend { background-image: url("/img/elca/ic-arrow-closed.png"); background-position: 5px 22px; }

#content.lcc h3, #content.lcc h4 { font-size: 14px; font-weight: normal; font-style: italic; padding-top: 10px; }

#content.lcc .headline { position: absolute; top: 0; left: 0; height: 36px; }

#content.lcc h3 { position: absolute; bottom: 0; width: 100px; padding-top: 23px; padding-bottom: 0; font-size: 12px; }

#content.lcc .form-section, #content.lcc .buttons, #content.lcc h4 { clear: both; padding-left: 30px; }

#content.lcc h4 { padding-left: 30px; font-size: 12px; }

#content.lcc .ElcaHtmlNumericText { font-size: 14px; }

#content.lcc .form-section { padding-top: 2px; padding-bottom: 2px; display: block; }

#content.lcc .form-section:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#content.lcc .form-section.row-highlight:hover { background-color: #f5f5f5; }

#content.lcc .form-section.last { padding-bottom: 10px; border-bottom: 1px solid #ddd; }

#content.lcc .label-holder { float: left; width: 480px; padding: 0; }

#content.lcc .form-elt { float: left; }

#content.lcc .form-elt input.numeric-input { display: inline-block; width: 50px; }

#content.lcc .form-elt input.read-only { border: none; color: #666 !important; }

#content.lcc .form-elt span.ref-unit { font-size: 12px; padding-left: 5px; }

#content.lcc .buttons { text-align: right; padding-right: 80px; }

#content.lcc .buttons .submit.button { margin-left: 20px; }

#content.lcc .totals { margin-top: 10px; margin-left: 30px; padding: 5px 0 0px 0; font-weight: bold; }

#content.lcc .lcc-section div.totals .form-section { padding-left: 0; }

#content.lcc .lcc-section div.totals .form-section .form-elt { width: 165px; text-align: right; }

#content.lcc form.changed .lcc-section div.totals .form-section .form-elt { color: #ddd; }

/** parameters **/
#content.lcc .lcc-section.parameters { background-color: #f0f0f0; padding: 20px 10px; }

#content.lcc .lcc-section.parameters .label-holder { width: 340px; }

#content.lcc .lcc-section.parameters .parameter-group { float: left; width: 460px; }

#content.lcc .lcc-section.parameters .form-section.versionId .form-elt { padding-right: 0; }

#content.lcc .lcc-section.parameters .form-section.versionId .form-elt select { width: 220px; margin-left: 80px; }

#content.lcc .lcc-section.parameters .form-section.versionId .label-holder, #content.lcc .lcc-section.parameters .form-section.category .label-holder { display: inline-block; width: 105px; }

#content.lcc .lcc-section.parameters .form-section.category .label-holder { width: 330px; }

#content.lcc .lcc-section.parameters .HtmlRadioGroup .HtmlRadiobox { display: inline-block; width: auto; }

#content.lcc .lcc-section.parameters .form-section.costs300 .form-elt input, #content.lcc .lcc-section.parameters .form-section.costs400 .form-elt input, #content.lcc .lcc-section.parameters .form-section.costs500 .form-elt input { width: 80px; }

#content.lcc .lcc-section a.delete-cost { color: #336699; padding-left: 10px; }

/** media and cleaning **/
#content.lcc .lcc-section.media-cleaning .label-holder { width: 600px; }

#content.lcc .lcc-section.media-cleaning h3.hl-me-per-a { left: 630px; }

#content.lcc .lcc-section.media-cleaning h3.hl-eur-per-me { left: 770px; }

#content.lcc .lcc-section.media-cleaning .form-elt input.refValue { width: 50px; margin-left: 40px; }

/** regular service **/
#content.lcc .lcc-section.service h3 { padding-top: 8px; width: 85px; text-align: center; }

#content.lcc .lcc-section.service h3.hl-maintenance-perc { left: 500px; }

#content.lcc .lcc-section.service h3.hl-service-perc { left: 630px; }

#content.lcc .lcc-section.service h3.hl-costs { left: 760px; }

#content.lcc .lcc-section.service .form-elt input.servicePerc { margin-left: 70px; }

#content.lcc .lcc-section.service .form-elt input.costs { width: 100px; margin-left: 60px; }

#content.lcc .lcc-section.service .form-elt input.costsCalculated { width: 100px; margin-left: 15px; }

#content.lcc .lcc-section.service .form-section.new input.din276Code { width: 30px; margin-right: 5px; }

#content.lcc .lcc-section.service .form-section.new input.label { width: 400px; margin-right: 25px; }

/** irregular costs **/
#content.lcc .lcc-section.irregular h3 { padding-top: 8px; width: 100px; text-align: center; }

#content.lcc .lcc-section.irregular h3.hl-life-time { left: 500px; }

#content.lcc .lcc-section.irregular h3.hl-replacements { left: 630px; }

#content.lcc .lcc-section.irregular h3.hl-costs { left: 760px; }

#content.lcc .lcc-section.irregular .form-elt input.lifeTime { margin-right: 90px; }

#content.lcc.general .lcc-section.irregular .form-elt input.costs { width: 100px; margin-left: 50px; }

#content.lcc.detailed .lcc-section.irregular .form-elt input.costs { width: 100px; margin-left: 245px; }

#content.lcc .lcc-section.irregular .form-section.kguAlt { background-color: #f0f0f0; padding: 5px 10px; margin-bottom: 20px; }

#content.lcc .lcc-section.irregular .form-section.kguAlt .label-holder { width: 300px; }

#content.lcc .lcc-section.irregular .form-section.kguAltPerc .form-elt { text-align: right; width: 165px; }

#content.lcc .lcc-section.irregular .form-section.kguAlt .HtmlRadioGroup .HtmlRadiobox label { padding-left: 10px; }

#content.lcc .form-elt span.replacements { display: inline-block; width: 50px; font-size: 14px; text-align: center; }

#content.lcc .lcc-section.irregular .form-section.new input.din276Code { width: 30px; margin-right: 5px; }

#content.lcc .lcc-section.irregular .form-section.new input.label { width: 400px; margin-right: 25px; }

/* lcc versions */
#content.lcc-versions { height: 22px; position: relative; width: 920px; }

#content.lcc-versions .hl-row { height: 22px; position: relative; }

#content.lcc-versions .version-row { position: relative; height: 24px; }

#content.lcc-versions .hl-row h5 { position: absolute; color: #888; font-style: italic; font-weight: normal; border: none; }

#content.lcc-versions li { background-color: #f9f9f9; border-bottom: 1px solid #e5e5e5; margin-bottom: 8px; padding: 3px 0; line-height: 33px; height: 33px; }

#content.lcc-versions li.active { background-color: #f0f0f0; }

#content.lcc-versions .hl-row h5.hl-name { left: 5px; }

#content.lcc-versions .hl-row h5.hl-created { right: 460px; }

#content.lcc-versions .hl-row h5.hl-actions { right: 160px; }

#content.lcc-versions .version .name, #content.lcc-versions .version .created, #content.lcc-versions .version a.edit-link, #content.lcc-versions .version a.delete-link, #content.lcc-versions .version a.copy-link { position: absolute; padding: 0; top: 0; }

#content.lcc-versions .version .name { left: 5px; width: 350px; overflow: hidden; }

#content.lcc-versions .version .created { right: 317px; width: 200px; }

#content.lcc-versions .version a.delete-link { width: 60px; text-align: left; right: 0; }

#content.lcc-versions .version a.copy-link { width: 60px; text-align: left; right: 65px; }

#content.lcc-versions .version a.edit-link { width: 80px; text-align: left; right: 125px; }

#content.lcc-versions .version .created .HtmlStaticText { font-size: 12px; color: #666; line-height: 33px; }

/** reports **/
#content.lcc-reports .reportForm { width: 340px; }

#content.lcc-reports table { margin-top: 20px; float: left; }

#content.lcc-reports table col.name { width: 320px; }

#content.lcc-reports table td.costs, #content.lcc-reports table td.percentage { text-align: right; }

#content.lcc-reports table th.unit, #content.lcc-reports table th.percentage, #content.lcc-reports table td.unit { text-align: center; }

#content.lcc-reports table tbody.costs, #content.lcc-reports table tbody.service { background-color: #f0f0f0; }

#content.lcc-reports table tbody.rating, #content.lcc-reports table tbody.total { background-color: #fff; }

#content.lcc-reports table tbody.rating td, #content.lcc-reports table tbody.total td { border: none; font-weight: bold; }

#content.lcc-reports table tbody.rating td { padding-top: 10px; }
