/** common **/
$textColor: #666;
$labelColor: #888;
$linkColor: #336699;
$linkFuncColor:#004f80;
$bgLightGrey:#f9f9f9;

$bgLightYellow: #FDFFD9;

/** buttons **/
$buttonColor: #fff;
$buttonBgColor: #004f80;
$buttonBgHoverColor: #2660ac;

/** borders **/
$borderLightGrey: #e5e5e5;
$borderGrey: #ddd;


$msgBoxDefault: #f9f700;
$msgBoxError: lighten(#ff0000, 20);

$noResultsColor:#FFDCDD;
$noResultsActiveColor: #FFCCDD;