#viewerContent.ifc-viewer {

  position:relative;
  padding:25px;
  max-width:1500px;

  #viewerContainer {
    overflow:hidden;
    line-height: 150%;
    border: 1px solid #ccc;
    margin-right:300px;

    canvas {
      display: block;
      width:  1148px;
      height: 600px;
      cursor: default;
    }
  }

  #dataContainer {
    margin:25px 0;
    table {
      width: 100%;
      max-width: 1000px;
      margin-bottom: 25px;

      th {
        text-align: left;
        width:50%;
      }

      td:last-child, th:last-child {
        border-right:none;
      }
    }

    h3 {
      margin: 15px 0 5px 0;
    }
  }

  #treeContainer {
    float:right;
    width:280px;
    overflow: scroll;
    height:600px;
    font-size: 11px;
  }

  .bimsurfer-static-tree, .bimsurfer-static-tree * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }

  .bimsurfer-static-tree div.item {
    border-top: solid 1px #eee;
  }

  .bimsurfer-static-tree > div.item {
    border: none;
  }

  .bimsurfer-static-tree div.label {
    margin-left: -100px;
    padding-left: 100px;
    width: 1000px;
    cursor: pointer;
  }

  .bimsurfer-static-tree div.children {
    padding-left: 10px;
  }

  .bimsurfer-static-tree div.selected {
    background: #6ae;
    color: white;
  }

  .bimsurfer-static-tree div.bimsurfer-tree-label:before {
    content: "\21b3  ";
  }

}


