/** element selector form
 *------------------------*/
.modal-element-selector .HtmlRadioGroup-section .label-holder {
  float:left;
  width:auto;
}

.modal-element-selector  .form-section .HtmlRadioGroup {
  float:left;
}
.modal-element-selector .form-section .HtmlRadiobox {
  float:left;
}
.modal-element-selector .form-section .HtmlRadiobox input {
  height:auto;
  width:auto;
  margin-left:20px;
  margin-right:5px;
}
.modal-element-selector .form-section.search {
  clear:both;
}
