/** Imprint
 *------------------*/
#content .imprint {
  width:600px;
}
#content .imprint p {
  font-size: 12px;
  margin-top:5px;
  line-height:19px;
}
#content .imprint h1,
#content .imprint h2,
#content .imprint h3 {
  color:#214476;
  font-weight:bold;
  margin: 15px 0 5px 0;
}

#content .imprint h2 { font-size: 14px; }
#content .imprint h3 { color:inherit; font-size: 12px; font-weight:normal; }
