
#content.websiteinfo .inforow {
	margin: 30px 0 20px 10px;
	border-bottom: 1px solid #dedede;
	padding: 0 0 20px 0;
}

#content.websiteinfo .flex {
	display:flex;
}


#content.websiteinfo .infocolumn {
	padding: 0 10px 0 10px;
	width: 400px;
}

#content.websiteinfo h2 {
	text-decoration: underline;
	font-weight: bold;
	padding: 0 0 10px 0;
} 

 
#content.websiteinfo .downloads {
	padding-left: 16px;
	padding-top: 10px;
} 

#content.websiteinfo .downloads  li {
  display: inline;
  position: relative;
  display: block;
  padding: 5px 0;
  /*only for demo*/
}

#content.websiteinfo .downloads li .iconsheet:before {
  content: "";
  height: 100%;
  width: 15px;
  left: -15px;
  top:5px;
  position: absolute;
  background: url(/img/elca/ic-download-sheet.png) no-repeat;
}

#content .pdfcreate { 
	padding: 0 5px;
}

#content.report-effects .reportForm, #content.report-summary-element-types .reportForm {
    position: absolute;
    top: 50px !important;
    left: 700px !important;
    width: 100px;
}
