#content.project-csv-import {
  .import-group {
    position:relative;
  }

  .import-group .download-link {
    position:absolute;
    top:25px;
    right:5px;
    color:$linkFuncColor;
  }

  form.csvImportForm {
    width:525px;

    .form-section {
      float:left;
      width:525px;
    }

    .form-section.name {
      clear:both;
      width:525px;
    }
    .form-section.constrMeasure {
      width: 250px;
      padding-right:25px;
    }
    .form-section.postcode {
      width: 250px;
    }

    .form-section.netFloorSpace {
      clear:both;
      width: 250px;
      padding-right:25px;
    }
    .form-section.grossFloorSpace {
      width: 250px;
    }
  }

  &.preview {

    form.projectImportPreviewForm {
      width: 1000px;
    }

    .fieldset.project-info {
      width:520px;
      float:left;
    }

    .fieldset.project-info-right {
      margin-left:25px;
      width:420px;
      float:left;

      .notice {
        font-size: 14px;
        line-height:20px;
        color: #000000;
      }
    }

    .hl-row {
      position: relative;
      height: 22px;
      margin-top: 20px;
      margin-left: 0;

      h5 {
        position: absolute;
        top: 0;
        border-bottom: none;
        font-weight: normal;
        font-style: italic;
        color: $labelColor;

        &.hl-din-code {
          left: 10px;
        }

        &.hl-name {
          left: 220px;
        }

        &.hl-quantity {
          left: 477px;
        }

        &.hl-tpl-element {
          right: 300px;
        }
      }
    }

    .elements {
      width: auto;
      list-style-type: decimal;
    }

    li.element {
      clear: both;

      background-color: $bgLightGrey;
      border-bottom: 1px solid $borderLightGrey;

      margin-bottom: 8px;
      padding: 3px 0;
      line-height: 24px;
      min-height:100px;
      position: relative;

      .column {
        display: block;
        position: absolute;
        top: 0;

        &.din-code {
          left: 10px;
          width: 200px;
        }
        &.din-code3 {
          top: 30px;
          left: 10px;
          width: 200px;

        }
        &.name {
          left: 220px;
          width: 250px;
          overflow: hidden;
          height: 24px;
          line-height:24px;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding:5px 0 10px;
        }

        &.quantity {
          left: 470px;
          text-align: right;
          width: 70px;
        }
        &.unit {
          left: 545px;
          text-align: center;
          width: 50px;
        }

        &.tpl-element-image {
          top: 2px;
          right:280px;
          width:100px;
          height:100px;
          border:1px solid $borderGrey;
        }

        &.tpl-element {
          top: 8px;
          right: 10px;
          width: 250px;
          padding-top: 1px;
        }
      }

      .modified-din-code,
      .modified-unit {
        position:absolute;
        top:60px;
        left:10px;
      }
      .modified-unit {
        top: 35px;
        left:470px;
        width:150px;
        line-height:1.3;
      }

      .element-selector {
        position:absolute;
        padding-top:2px;
        top: auto;
        right: auto;
        width: 270px;
        line-height: 16px;
        color: $linkFuncColor;
      }

      .HtmlStaticText {
        font-size: 12px;
        line-height: 16px;
        color: #666;
      }

      &.warning {
        background-color: $bgLightYellow;

        a.element-selector {
          color: #ff0000;
        }
      }
    }
  }
}