#elementForm.costs {
  .column {
    width: 450px;
  }

  .quantity,
  .lifeTime,
  .calculatedQuantity,
  .elementQuantity,
  .totalQuantity,
  .prodCostsPerUnit,
  .prodCostsTotal {
    float:left;
    padding-right:20px;
    width:125px;
  }

  .totalQuantity, .lifeTime {
    padding-right:0;
  }

  .calculatedQuantity {
    padding-left:145px;
  }

  .own-quantity-note {
    font-style: italic;
  }
}

.element-section.element-costs {
  .hl-row {
    h5 {
      position:absolute;
      color:#888;
      font-style:italic;
      font-weight:normal;
      border:none;

      &.hl-is-active { right:330px; }
      &.hl-life-time { right:265px; }
      &.hl-is-extant { right:190px; }
      &.hl-costs     { right:45px; }
      &.hl-costs-total { right:45px; }
      &.hl-element   { left:0; }
      &.hl-quantity  { right:522px; }
      &.hl-dinCode   { right:495px; }
      &.hl-layer-area {right:522px; }
    }
  }

  &#section-composite .hl-row h5 {
    &.hl-quantity  { right:575px; }
    &.hl-is-extant { right:285px; cursor:help;}
    &.hl-costs-calculated { right:390px; }
    &.hl-costs     { right:250px; }
    &.hl-dinCode {right: 505px}
    &.hl-replacements {right:100px; }
  }

  .element-component {

    position:relative;

    .costs, .prodCosts, .layer-area {
      position:absolute;
      padding:0;
      top:0;
      background-color:inherit;
    }

    .layer-position { left:5px; width:20px; }
    .process-config-selector {left:30px; width:400px; max-width: 32%; max-height: 20px; overflow: hidden;}
    .quantity { right:523px; width:80px; text-align:right }
    .layer-area { right:523px; width:80px; text-align:right }
    .costs { right:40px; width:100px; }
    .prodCosts { right:50px; width:100px; text-align:right }
    .lifeTime { right:255px; width:30px;}
    .isExtant { right: 190px; width:40px; text-align: center; }
    .calcLca { right: 340px; width:40px; text-align: center; }
  }

  &.is-extant-building .element-component {
    .lifeTime {right: 255px;}
  }

  .element {
    .costs, .prodCosts, .prodCosts-refUnit, .costs-total, .costs-refUnit, .costs-refUnit2, .replacements{
      position:absolute;
      padding:0;
      top:0;
      background-color:inherit;

    }

    .element-selector {left:28px; width: 320px; max-height: 20px; overflow: hidden;}
    .quantity {right:585px; width:60px; text-align:right }
    .surface {right:655px; width:auto; text-align:right; padding-left:10px }
    .surface .HtmlStaticText { font-size:12px; padding-right:0 }
    .refUnit {right:550px; width:40px; text-align:left; }
    .dinCode {right:510px;}
    .isExtant { right: 285px; width:40px; text-align: center; }
    .prodCosts { right:400px; width:100px; text-align:right }
    .prodCosts-refUnit {right:350px; text-align:left; width: 50px;}
    .costs {right:260px; width:80px; text-align:right;}
    .costs-refUnit {right:200px; text-align:left; width: 50px;}
    .costs-refUnit2 {right:84px; text-align:left; width: 50px;}
    .replacements{ right:125px; width: 60px; }
    a.edit-link {right:10px}

    .prodCosts.shade,
    .prodCosts-refUnit.shade {
      color: #aaa;
      text-decoration:line-through;
    }
  }


  #element-composite-non-opaque .element .element-selector {left:28px; width: 300px; max-height: 20px; overflow: hidden;}

  .costs-table.composite {
    .scroll-wrapper {
      table {
        tbody {
          tr {
            td {
              height:24px;
            }
            th.fixed.process_config_name {
              color:#000000;
              overflow:hidden;
              text-overflow: ellipsis;
            }
          }

          tr.lastRow {
            td, th {
/**              border-top:2px solid #999; **/
            }
          }
        }
      }
    }
    .scroll-wrapper.scroll {
      margin-left:360px;

      table {
        thead {
          tr {
            th.fixed.total {
              left:251px;
            }
          }

          tr.legendRow {
            th {
              top:30px;
            }
            th.lastColumn {
              left:360px;
            }
          }

        }
        tbody {
          tr {
            th.fixed.total {
              left:251px;
            }
            th.fixed.process_config_name {
              color:#000000;
            }
          }
        }
      }
    }
  }
  .costs-table {
    padding-bottom:15px;

    tr.lastRow td,
    tr.lastRow th {
      border-top:1px solid #999;
      color:#000;
    }

    .scroll-wrapper {
      padding-left:10px;
      table {
        table-layout: fixed;
        width: auto;

        margin-left:0;
        margin-right:0;
        padding-top:15px;

        th, td {
          text-align: center;
          white-space: nowrap;
        }

        tr {
          th.fixed {
            border-right:1px solid #dddddd;
          }
          th.fixed.years {
            width:60px;
            text-align:left;
          }
          th.fixed.process_config_name {
            width:230px;
            text-align:left;
          }
          th.fixed.total {
            width:100px;
          }
        }

        thead {
          tr {
            th {
              color:#888;
            }
          }
        }

        tbody {
          tr {
            th {
              border-bottom:1px solid #dddddd;
            }
            th.fixed.total {
              width:100px;
              color:#000000;
            }
          }
          tr.lastRow {
            th {
              border-bottom:none;
              border-top: 1px solid #999;
            }
          }
        }

      }
    }

    .scroll-wrapper.scroll {
      overflow:hidden;
      overflow-x:scroll;
      overflow-y:visible;
      margin-left:190px;
      padding-bottom:10px;
      padding-left:0px;

      table {
        margin-top:15px;
        padding-top:28px;

        thead {
          tr.legendRow {
            th {
              top:30px;
            }

            th.lastColumn {
              position:absolute;
              left:189px;
              border-left:none;
            }
          }
          tr th.fixed {
            position:absolute;
            display: block;
            height:24px;
          }
          tr th.fixed.years {
            left:12px;
            width:60px;
          }
          tr th.fixed.process_config_name {
            left:12px;
            width:230px;
          }
          tr th.fixed.total {
            left:81px;
            width:100px;
          }
        }

        tbody tr td {
          width:100px;
          text-align: center;
        }
        tbody tr.lastRow th {
          border-bottom:1px solid #dddddd;
        }
        tbody th.fixed {
          position:absolute;
          left:12px;
        }
        tbody th.fixed.years {
          left:12px;
        }
        tbody th.fixed.total {
          left:81px;
        }
      }
    }

    .no-data-available {
      padding-top:40px;
      padding-left:10px;
    }
  }
}

.tab-lcc.elements .element .element-selector {left:10px}

#costs-table-total {
  table {
    margin: 0;
    padding: 0;

    .legendRow th {
      top:65px;
    }
  }

  .scroll table {
    padding-top:42px;
  }
  .no-data-available {
    padding-left:0;
    font-size:14px;
  }
}